DATABASE_URL=postgresql://postgres.PROJECT_REF:PERCENT_ENCODED_PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres
BETTER_AUTH_SECRET==
BETTER_AUTH_URL=http://127.0.0.1:3005
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HOST=127.0.0.1
PORT=3005
