DATABASE_URL=postgresql://infinity_storage:CHANGE_ME@127.0.0.1:5432/infinity_storage
BETTER_AUTH_SECRET==
BETTER_AUTH_URL=http://127.0.0.1:3005
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HOST=127.0.0.1
PORT=3005
